/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.hide{
  	box-shadow:none !important;
    background-color:transparent !important;
}
.hide span{
  display: none;
  color: #CCCCCC;
}
.hide:hover span{
  color: #CCCCCC;
  display: flex;
  align-items:center;
}


.site-nav .item{
	padding: 10px 15px;
}
.header-top-nav{
	z-index: 99;
	position: fixed;
	top: 60px;
	left: -2px;
	right: 0;
	padding: 0 7px;
}

.header-top-nav .block{
  margin: 0!important;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0!important;
  padding-right: 0!important;
}

.header-top-nav .block ul{
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 1px 0.5px rgba(107, 107, 107, 0.1);
}

.header-top-nav .block ul a{
	font-size: 13px;
}

.header-top-nav span{
	color: #ccc;
	cursor: pointer;
	display: initial;
}
.header-top-nav span i{ 
	font-size: 20px;
}

.header-top-nav span:hover{
	color: #409EFF;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

.bg {
    position: absolute;
	bottom: 0;
    width: 100%;
	height: 15vh;
}

section {
	margin: 0 !important;
}



.user.edit{
	border:1px #008eff solid;
}

.ghost>.site-item{
	opacity: 0.5;
	background: #c8ebfb;
	border: 3px #F35C01 dotted !important;
}

.borderNone{
	border:0px;
}

.user.edit .list-group>div .site-item{
	cursor:move;
	margin: 5px;
	border: 3px #f1f1f1 dotted;
	position: relative;
}
.user.edit .site-item{
	    border-radius: 0;
}
.user.edit .site-item:hover{
	box-shadow:none!important;
	transform:none !important;
}

.user.edit .site-item .site-edit{
	opacity: 0;
}
.user.edit .site-item:hover .site-edit{
	opacity: 1;
}

.user.edit .site-item .site-edit{
	cursor:pointer;
}

.user.edit .site-item .site-edit .el-icon-remove{
    position: absolute;
    top: -10px;
    right: -8px;
	color: #ff3d00;
	font-size: 18px;
	z-index: 50;
}
.option {
	margin-bottom: 15px;
}
.option > div{
	border-right: 1px solid #f5f5f5;
}

.option > div:last-child{
	border-right: none;
}

.option .option-item{
    text-align: center;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.option .option-item .item{
	display: block;
	height: 32px;
    line-height: 32px;
	margin-bottom: 5px;
}
.option .option-item .item i{
	font-size: 32px;
	vertical-align: middle;
}
.option .option-item .title{
	color: #8492a6;
	font-size: 14px;
}
.divider{
	margin:5px 0 15px 0;
}
.divider > div{
	background: #f9f9f9;
	border-radius: 10px;
}
.divider > div > span{
	color: #a1a7b7;
}
.avatar{
	width: 32px;
	height: 32px;
	border-radius: 6px;
}

#user-block{
  width: 100%;
  margin: 5px 0;
  border-radius: 2px;
  background-color: #f9f9f9;
}

.user .list-group>div{
	border: 2px #fff dotted;
}
.user-website{
  padding: 2px 12px;
  background-color: #fff;
}
.user-website .site-item{
  margin: 1px 5px;
  padding: 5px 15px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.25s ease-out, transform 0.25s ease-out, -webkit-box-shadow 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.user-website .site-item:hover{
  box-shadow: 5px 8px 10px rgba(36, 37, 38, 0.13);
  transform: translate(0%, -4px);
}

.user-website .site-item .site-icon{
	margin-right: 5px;
}
.user-website .site-item .site-icon img{
    width: 20px;
    height: 20px;
	border-radius: 20%;
	display: inline-flex;
}
.user-website .site-info{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.user-website .site-info h3{
	font-size: 15px;
}


.user .badge{
    padding: 3px;
    margin: 0 4px 2px 0;
    border-radius: 50%;
    display: inline-block;
}

.user .tabs-nav .active .badge{
  display: none;
}

.user .user-button{
  width: auto;
  text-align: right;
}

.user .user-button ul{
  display: flex;
}

.user .user-button ul li{
  margin: 0 3px;
}



#user-block .null{
  text-align: center;
  background-color: #fff;
}

#touch {
	margin: 1rem 0;
	height: 5rem;
	display: flex;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}

#touch .site-card {
	text-align: center;
}

#touch .site-card .site-touch-icon {
	display: inline-block;
	transition: .5s;
}

#touch .site-card:hover .site-touch-icon {
	margin-top: -10px;
	margin-bottom: 10px;
	-webkit-filter: drop-shadow(0 6px 6px rgba(100,100,100,0.6));
	-webkit-transform: translateY(-4px) scale(1.15);
	-moz-transform: translateY(-4px) scale(1.15);
	-ms-transform: translateY(-4px) scale(1.15);
	-o-transform: translateY(-4px) scale(1.15);
	transform: translateY(-4px) scale(1.15);
}

#touch .site-touch-title {
	line-height: 26px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#touch img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

	.tabs{
       width:100%;
   }
   .tabs-nav .tablist li{
       margin: 3px;
       padding:0;
       list-style: none;
       text-align: center;
   }
   .tabpanel{
       width:100%;
       display: none;
	   opacity:0;
	   transition: opacity .15s linear;
	   
   }
   .show{
	   opacity:1;
       display: block;
   }


.site-tabs{
	width: 100%;
}
.site-tabs h3{
	display: initial;
}
.site-tabs .tabs-nav{
	display: inline-block;
}
.site-tabs .tablist{
	display: inline-table;
}
.site-tabs .tablist li{
	display: inherit;
}

.site-tabs .tablist li a{
    padding: 5px 12px;
    border-radius: 20px;
    display: inline-block;
}
.site-tabs .tablist li a.active{
	color: #fff;
    background-color: #1989fa;
	transition: 0.3s;
}


.site-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}

.site-list li {
	height: 80px;
  width: 25%;
  display: inline-flex;
}

.site-list .site-item {
  padding: 10px 15px;
	height: 100%;
	font-size: 14px;
	display: flex;
	align-items: center;
	overflow: hidden;
  transition: all .4s cubic-bezier(.175,.885,.32,1);
}

.site-list .site-item:hover {
	/* background: rgba(241,242,249,.5); */
  background: #eee;
}


.site-list .site-info {
  width: 88%;
}

.site-list .site-info h3 {
	color: #444444;
}

.site-list .site-info p {
	color: #a1a7b7;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.site-list .site-item:hover h3 {
	color: #409EFF;
}

.site-list .site-item:hover p {
	color: #131313a1;
}

	/* 手风琴样式 开始*/
.accordion-container {
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.accordion-item {
	list-style: none;
	height: 125px;
	transition: width 0.5s;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.accordion-item:not(:hover) {
	width: 20%;
}

.accordion-item:hover {
	width: 400px;
}

.accordion-item:hover .accordion-title {
	display: inherit;
	padding: 10px 15px;
	font-size: 14px;
}

.accordion-item:hover .accordion-title:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	z-index: -1;
}

.accordion-item a {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: opacity 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion-title {
	color: #fff;
	font-size: 18px;
	display: none;
	  /* filter: blur(1px); */
	text-align: center;
}
	/* 手风琴样式 结束*/

.el-dialog__body {
	padding: 0 20px 30px;
}

.cate-list i {
	margin-right: 5px;
}

.dropdown-link {
	cursor: pointer;
	color: #ccc;
	background: #fff;
	width: 40px;
	height: 100%;
}

.dropdown-link:hover {
	background: #fff;
}

.el-menu.el-menu--horizontal {
	border-bottom: none;
}

.site-icon img{
	width: 36px;
}

.site-icon .el-image{
	position: inherit!important;
}

.links{
	width: 100%;
	margin-top: 30px;
	padding: 22px 0 10px 0;
	background-color: #fff;
	display: inline-flex;
}
.links .box{
	box-shadow:none;
}

#sidebar{width:40px;height:0;margin:0 auto;cursor:pointer;display:inherit}
#sidebar:before{width:40px;height:40px;margin-top:-20px;font-size:24px;line-height:40px;color:#ccc;text-align:center;background:#303133;border-radius:50%;-webkit-transition:.3s;transition:.3s;display:inline-block}
#sidebar:hover:before{-webkit-transform:rotate(180deg);transform:rotate(180deg)}

















@media screen and (min-width:1200px) {
	
	#search .search-input{
		width: 72%;
	}
	
	#search .search-input.select{
		width: 88%;
	}
	
	#search .search-center{
		margin: 0 25%;
	}
	
	.suggest{
		width: 36%;
	}
	
	.select .dropdown{
		width: 150px; 
		padding: 0px;
	}
	
	.dropdown .el-select{
		top: 2px;
	}
	
	.main, .links .box{
		margin: 0 10%;
	}

	#touch .site-card {
		margin: 5px;
		width: 60px;
	}

	#touch .site-card .site-touch-icon {
		width: 36px;
		height: 36px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 14px;
		text-align: center;
	}

	.site-list .site-item {
		height: 60px;
		width: 100%;
	}

	.site-list .site-icon {
		margin-right: 8px;
	}

  .site-list .site-icon .el-image {
  	width: 36px;
  	height: 36px;
  }

	.site-list .site-info h3 {
		font-size: 14px;
	}

	.image-placeholder .block {
		width: 190px;
		height: 123px;
		margin: 0 2px;
	}
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
	
	#search .search-center{
		margin: 0 18%;
	}
	
	#search .search-input{
		width: 72%;
	}
	
	.suggest{
		width: 44%;
	}
	
	.header-top-nav{
		display: none;
	}

	.main, .links .box{
		margin: 0 10%;
	}

	#touch .site-card {
		margin: 2px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list .site-item {
		height: 30px;
		width: 115px;
	}

	.site-list .site-icon {
		margin-right: 5px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-info h3 {
		font-size: 12px;
	}

	.site-list .site-info p {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	
	.suggest{
		width: 52%;
	}
	
	#search .search-center{
		margin: 0 12%;
	}
	
	#search #search_input{
		width: 68%;
	}
	
	.select .dropdown{
		width: 168px; 
		padding: 0px;
	}
	
	.header-top-nav{
		display: none;
	}

	#touch .site-card {
		margin: 2px;
		width: 50px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list .site-item {
		height: 30px;
		width: 115px;
	}

	.site-list .site-icon {
		margin-right: 5px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-info h3 {
		font-size: 12px;
	}

	.site-list .site-info p {
		display: none;
	}

	.image-placeholder .block {
		width: 190px;
		height: 123px;
		margin: 0 2px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#search .search-center{
		margin: 0 8%;
	}
		
	#search #search_input{
		width: 56%;
	}
	
	.suggest{
		width: 57%;
	}
		
	#search h3 {
		margin-bottom: 22px;
		font-size: 32px;
	}
	
	.header-top-nav{
		display: none;
	}

	#touch .site-card {
		margin: 2px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list li {
		height: 45px;
	}

	.site-list .site-item {
		height: 30px;
		width: 115px;
	}

	.site-list .site-icon {
		margin-right: 5px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-info h3 {
		font-size: 12px;
	}

	.site-list .site-info p {
		display: none;
	}

	.image-placeholder .block {
		width: 190px;
		height: 123px;
		margin: 0 2px;
	}
}

@media only screen and (max-width: 479px) {
	
	.dropdown{
		padding: 0 8px 0 10px;
	}
	
	.select .dropdown{
		width: 198px; 
		padding: 0px;
	}
	
	#search .search-input{
		width: 45%;
	}
	
	#search .search-input.select{
		width: 72%;
	}
	
	.suggest{
		width: 97%;
	}
	
	.header-top-nav{
		display: none;
	}
  .bg {
    height:40px;
    min-height:40px;
  }
  #search {
  	padding: 130px 0 80px 0;
  }

	#search h3{
		margin-bottom: 22px;
		font-size: 22px;
		}

	#search .search-tools li{
		margin: 0 3px;
	}

  #search .search_text{
    padding: 13px 8px 13px 4px!important;
  }

  .user-website{
    padding: 0;
  }

  .user-website>li{
    display: inline-flex;
    margin: 2px;
    width: 47%;
  }

  .user-website>li>a{
    height: 40px;
    padding: 5px 15px;
  }

  .user-website>li>a .site-icon{
    margin-right: 2px;
  }

  .user-website>li>a .site-info h3{
      font-size: 14px;
  }

  .user-website>li>a .site-info p{
      font-size: 11px;
  }

  .user-website>li>a .el-image{
      width: 30px;
      height: 30px;
  }

	#touch .site-card {
		margin: 2px;
		width: 50px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}



	.tabs-nav{
		margin-top: 8px;
	}

	.site-tabs .tablist li a {
		padding: 3px 6px;
		border-radius: 20px;
	}

	.site-list li {
		height: 45px;
		width: 33.3%;
	}

	.site-list .site-item {
		height: 30px;
		width: 100px;
    padding: 2px;
	}

/*  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  } */

  .site-icon img{
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-icon {
		margin-right: 5px;
	}


	.site-list .site-info h3 {
		font-size: 11px;
	}

	.site-list .site-info p {
		display: none;
	}

	.image-placeholder .block {
		width: 49%;
		height: 112px;
		margin: 1px 1px;
	}
}
