/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.hide{
  	box-shadow:none !important;
    background-color:transparent !important;
}
.hide span{
  display: none;
  color: #CCCCCC;
}
.hide:hover span{
  color: #CCCCCC;
  display: flex;
  align-items:center;
}


.site-nav .item{
	padding: 10px 15px;
}
.header-top-nav{
	position: fixed;
	top: 58px;
	left: -2px;
	right: 0;
	padding: 0 7px;
}

.header-top-nav .block{
  z-index: 99;
  padding: 6px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top-nav .block ul{
	padding: 0 5px;
}

.header-top-nav span{
	color: #ccc;
	margin: 0 18px;
	cursor: pointer;
}
.header-top-nav span:hover{
	color: #409EFF;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

.bg {
    position: absolute;
	bottom: 0;
    width: 100%;
	height: 15vh;
}

section {
	margin: 0 !important;
}

#search {
	position: relative;
	padding: 180px 0 230px 0;
	background: linear-gradient(60deg, rgba(84,58,183,1) 10%, rgba(0,172,193,1) 100%);
	background-image: url(../bg/bg2.png);
}

#search .search-center,#search .search-tools{
	display: flex;
	justify-content: center;
}

#search .search-tools li{
	margin: 0 12px;
}

#search .search-tools .nav .nav-item a{
	color: #fff;
}

#search .search-tools .nav .nav-item a.active:after{
	width: 100%;
	left: 0;
}

#search input,#search button {
	margin: 0;
	padding: 10px 15px;
	outline: 0;
	border: none;
}

#search h3{
	text-align: center;
	margin-bottom: 60px;
	color: #fff;
	font-size: 40px;
    font-weight: 100!important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
;
	}

#search #search_text {
	padding: 15px 15px 15px 62px;
	width: 40%;
	-webkit-transition: ease .3s;
	transition: ease .3s;
	-webkit-transform-origin: 50% 50%;
}
#search_text{
	border-radius:5px 0 0 5px;
}
#search_text:hover {
		/* box-shadow: 0 8px 43px rgba(0,0,0,0.15); */
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

#search_but{
	border-radius:0 5px 5px 0 !important;
}

#search #search_but {
	color: #fff;
	border-radius: 0;
	background-color: #909399;
	cursor: pointer;
}

.dropdown {
	position: relative;
}
.dropdown span i{
	color: #909399;
}

#user-block{
  width: 100%;
  margin: 5px 0;
  border-radius: 2px;
  background-color: #f9f9f9;
  display: flex;
}
.user-website{
  width: 100%;
  padding: 20px 15px;
  background-color: #fff;
}
.user-website>li{
  margin: 2px 5px;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid #b59b751c;
  box-shadow: 0 4px 10px rgba(36, 37, 38, 0.06);
  transition: box-shadow 0.25s ease-out, transform 0.25s ease-out, -webkit-box-shadow 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.user-website>li:hover{
  box-shadow: 5px 8px 10px rgba(36, 37, 38, 0.13);
  transform: translate(0%, -4px);
}
.user-website>li>a{
  padding: 5px 15px;
  height: 60px;
  width: 190px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.user-website>li>a .site-icon{
  margin-right: 5px;
}

.user-website>li>a .site-info {
    width: 130px;
}

.user-website>li>a .site-info p{
    color: #a1a7b7;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-website>li>a .el-image{
    width: 36px;
    height: 36px;
}

#touch {
	margin: 1rem 0;
	height: 5rem;
	display: flex;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}

#touch .site-card {
	text-align: center;
}

#touch .site-card .site-touch-icon {
	display: inline-block;
	transition: .5s;
}

#touch .site-card:hover .site-touch-icon {
	margin-top: -10px;
	margin-bottom: 10px;
	-webkit-filter: drop-shadow(0 6px 6px rgba(100,100,100,0.6));
	-webkit-transform: translateY(-4px) scale(1.15);
	-moz-transform: translateY(-4px) scale(1.15);
	-ms-transform: translateY(-4px) scale(1.15);
	-o-transform: translateY(-4px) scale(1.15);
	transform: translateY(-4px) scale(1.15);
}

#touch .site-touch-title {
	line-height: 26px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#touch img {
	width: 100%;
	height: 100%;
	;
		border-radius: 50%;
}

.box {
	width: 100%;
	padding: 0;
	margin: 5px 0;
	text-align: left;
	border-radius: 2px;
	background: #FFFFFF;
	display: inline-block;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
	color: #444;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px rgba(245,245,245,1) solid;
}

.box-header>h3 {
	font-size: 16px;
	color: #6b7386;
}

.box-body {
	padding: 10px;
}

.site-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}

.site-list li {
	height: 80px;
  width: 25%;
  display: inline-flex;
}

.site-list .site-item {
  padding: 10px 15px;
	height: 100%;
	font-size: 14px;
	display: flex;
	align-items: center;
	overflow: hidden;
  transition: all .4s cubic-bezier(.175,.885,.32,1);
}

.site-list .site-item:hover {
	/* background: rgba(241,242,249,.5); */
  background: #eee;
}

.site-list .site-info {
  width: 88%;
}

.site-list .site-info h3 {
	color: #444444;
}

.site-list .site-info p {
	color: #a1a7b7;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.site-list .site-item:hover h3 {
	color: #409EFF;
}

.site-list .site-item:hover p {
	color: #131313a1;
}

	/* 手风琴样式 开始*/
.accordion-container {
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.accordion-item {
	list-style: none;
	height: 125px;
	transition: width 0.5s;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.accordion-item:not(:hover) {
	width: 20%;
}

.accordion-item:hover {
	width: 400px;
}

.accordion-item:hover .accordion-title {
	display: inherit;
	padding: 10px 15px;
	font-size: 14px;
}

.accordion-item:hover .accordion-title:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	z-index: -1;
}

.accordion-item a {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: opacity 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion-title {
	color: #fff;
	font-size: 18px;
	display: none;
	  /* filter: blur(1px); */
	text-align: center;
}
	/* 手风琴样式 结束*/

.el-dialog__body {
	padding: 0 20px 30px;
}

#search .el-dropdown {
	position: absolute;
	left: 0;
	top: 2px;
}

.music-ing {
	width: 32px;
	height: 32px;
	background-color: #fff;
}

.music-ing img {
	padding: 6px 0 6px 11px;
}

.cate-list i {
	margin-right: 5px;
}

.dropdown-link {
	cursor: pointer;
	color: #ccc;
	background: #fff;
	width: 40px;
	height: 100%;
}

.dropdown-link:hover {
	background: #fff;
}

.el-menu.el-menu--horizontal {
	border-bottom: none;
}

.site-icon .el-image{
	position: inherit!important;
}

@media screen and (min-width:1200px) {

	.main{
		margin: 0 10%;
	}

	#touch .site-card {
		margin: 5px;
		width: 60px;
	}

	#touch .site-card .site-touch-icon {
		width: 36px;
		height: 36px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 14px;
		text-align: center;
	}

	.site-list .site-item {
		height: 60px;
		width: 100%;
	}

	.site-list .site-icon {
		margin-right: 8px;
	}

  .site-list .site-icon .el-image {
  	width: 36px;
  	height: 36px;
  }

	.site-list .site-info h3 {
		font-size: 14px;
	}

	.image-placeholder .block {
		width: 190px;
		height: 123px;
		margin: 0 2px;
	}
}

@media screen and (min-width: 960px) and (max-width: 1199px) {

	.header-top-nav{
		display: none;
	}

	.main{
		margin: 0 10%;
	}

	#touch .site-card {
		margin: 2px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list .site-item {
		height: 30px;
		width: 115px;
	}

	.site-list .site-icon {
		margin-right: 5px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-info h3 {
		font-size: 12px;
	}

	.site-list .site-info p {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px) {

	.header-top-nav{
		display: none;
	}

	#touch .site-card {
		margin: 2px;
		width: 50px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list .site-item {
		height: 30px;
		width: 115px;
	}

	.site-list .site-icon {
		margin-right: 5px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-info h3 {
		font-size: 12px;
	}

	.site-list .site-info p {
		display: none;
	}

	.image-placeholder .block {
		width: 190px;
		height: 123px;
		margin: 0 2px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.header-top-nav{
		display: none;
	}

	#touch .site-card {
		margin: 2px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list li {
		height: 45px;
	}

	.site-list .site-item {
		height: 30px;
		width: 115px;
	}

	.site-list .site-icon {
		margin-right: 5px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-info h3 {
		font-size: 12px;
	}

	.site-list .site-info p {
		display: none;
	}

	.image-placeholder .block {
		width: 190px;
		height: 123px;
		margin: 0 2px;
	}
}

@media only screen and (max-width: 479px) {

	.header-top-nav{
		display: none;
	}
  .bg {
    height:40px;
    min-height:40px;
  }
  #search {
  	padding: 130px 0 80px 0;
  }

	#search h3{
		margin-bottom: 22px;
		font-size: 22px;
		}

	#search .search-tools li{
		margin: 0 3px;
	}

  #search #search_text{
    padding: 13px 8px 13px 58px!important;
  }

  #search input,#search button {
  	padding: 10px 15px!important;
  }

  .user-website{
    padding: 0;
  }

  .user-website>li{
    display: inline-flex;
    margin: 2px;
    width: 47%;
  }

  .user-website>li>a{
    height: 40px;
    padding: 5px 15px;
  }

  .user-website>li>a .site-icon{
    margin-right: 2px;
  }

  .user-website>li>a .site-info h3{
      font-size: 14px;
  }

  .user-website>li>a .site-info p{
      font-size: 11px;
  }

  .user-website>li>a .el-image{
      width: 30px;
      height: 30px;
  }

	#touch .site-card {
		margin: 2px;
		width: 50px;
	}

	#touch .site-card .site-touch-icon {
		width: 30px;
		height: 30px;
	}

	#touch .site-touch-title {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.site-list li {
		height: 45px;
    width: 33.3%;
	}

	.site-list .site-item {
		height: 30px;
		width: 100px;
    padding: 2px;
	}

  .site-list .site-icon .el-image {
  	width: 25px;
  	height: 25px;
  }

	.site-list .site-icon {
		margin-right: 5px;
	}


	.site-list .site-info h3 {
		font-size: 11px;
	}

	.site-list .site-info p {
		display: none;
	}

	.image-placeholder .block {
		width: 49%;
		height: 112px;
		margin: 1px 1px;
	}
}
