.tabs .el-tabs__header ,.tabs .el-tabs__header .el-tabs__nav{
	border:none !important;
}
.tabs .el-tabs__header .el-tabs__nav{
	background-color: transparent;
}
.tabs .el-tabs__header .el-tabs__item{
	border-left:none !important;
	color: #ccc;
}
.tabs .el-tabs__header .el-tabs__item{
	margin-right:10px;
	height:22px;
	line-height:25px;
	padding: 0 12px !important;
  border-radius: 22px;
	text-align: center;
}
.tabs .el-tabs__header .el-tabs__item:hover{
	color: #409EFF;
	background-color: #eef5fe;
}
.tabs .el-tabs__header .el-tabs__item.is-active{
	color: #409EFF;
	background-color: #eef5fe;
	border-bottom-color:#E6F1FE;
}

.hot-link a {
	color: #444;
	padding: 0 5px;
}

.hot-link a:hover {
	cursor: pointer;
	color: #1989FA;
	text-decoration: underline;
}

.hot-link em {
	font-style: normal;
	color: #a1a7b7;
	font-size: 14px;
	font-family: Constantia,Georgia;
}

.hot-link em:after {
	content: ".";
	margin-right: 5px;
}

.hot-link span i {
	margin: 0 2px;
	font-size: 16px;
	font-weight: 600;
}

.hot-link .rise {
	color: #1989FA;
}

.hot-link .fall {
	color: #f35c01;
}

.hot-link img {
	width: 17px;
	height: 17px;
	margin-right: 5px;
}
	/* .link a{
		transition: all .1s linear;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		height: 24px;
		line-height: 24px;
		display: inherit;
		font-size: 14px;
		margin: 5px 0;
    padding: 0 5px;
	}
	.link a:hover{
		color: #1989FA;
		background: linear-gradient(to right,rgba(221,221,221,0),#f2f2f2,rgba(222,222,222,0));
	}
	.link img{
		width: 16px;
		height: 16px;
		margin-right: 5px;
	} */
