/* section {
	margin: 0 !important;
} */

.tabs {
	width: 100%;
}

.tabs-nav .tablist li {
	margin: 3px;
	padding: 0;
	list-style: none;
}

.tabpanel {
	width: 100%;
	display: none;
	opacity: 0;
	transition: opacity .15s linear;
}

.show {
	opacity: 1;
	display: block;
}

.el-dialog__header {
	border-bottom: 1px solid #ededed;
}

.el-dialog__title {
	display: inherit;
}

.dropdown-link {
	cursor: pointer;
	color: #ccc;
	background: #fff;
	width: 40px;
	height: 100%;
}

.dropdown-link:hover {
	background: #fff;
}

.el-menu.el-menu--horizontal {
	border-bottom: none;
}

#sidebar {
	width: 40px;
	height: 0;
	margin: 0 auto;
	cursor: pointer;
	display: inherit
}

#sidebar:before {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 24px;
	line-height: 40px;
	color: #ccc;
	text-align: center;
	background: #303133;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s;
	display: inline-block
}

#sidebar:hover:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.list-item-hover{
	background: #F1F1F1!important;
    color: #222;
    text-shadow: 0 1px 0 #fff;
}