	.source{
		text-align: center;
		background: rgb(0, 128, 157);
		background-image: url(../bg/bg-small.jpg);
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.source .block{
		width: 450px;
		border-radius: 3px;
		margin: 150px auto 0;
		background-color: #fff;
		border: 1px solid #ebebeb;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
	}
	.source .form{
		margin: 20px 30px 30px;
	}
	.source h1.title{
		color: #409EFF;
		height: 80px;
		letter-spacing: 3px
	}
	.source h1.title::after{
		content: "";
		width: 100%;
		height: 1px;
		margin-top: 15px;
		display: block;
		position: relative;
		background-color: #d2dae0;
	}
	
	.source .t{
		color: #606266;
		margin-top: 10px;
		height: 20px;
		line-height: 20px;
		text-align: left;
		font-size: 13px;
	}
	.source .t a{
		color: #333;
	}
	.source .t a:hover{
		color: #0067b8;
	}
	
	.socialLogin{
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		color: #505561;
		height: 60px;
		line-height: 60px;
	}
	.source .login-btn-group a{
		margin: 0 8px;
	}