	.source{
		text-align: center;
		background-image: url(https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png);
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.source .block{
		width: 450px;
		border-radius: 3px;
		margin: 150px auto 0;
		background-color: #fff;
		border: 1px solid #ebebeb;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
	}
	.source .form{
		margin: 20px 30px 50px;
	}
	.source h1.title{
		color: #409EFF;
		height: 80px;
		letter-spacing: 3px
	}
	.source h1.title::after{
		content: "";
		width: 100%;
		height: 1px;
		margin-top: 15px;
		display: block;
		position: relative;
		background-color: #d2dae0;
	}