body{
/* background-color: #f5f5f5; */
background-color: #fbfbfb;
}
body,header,section,footer,ul{
	margin: 0;
	padding: 0;
}
a{
	font-size: 14px;
	color: #909399;
	text-decoration:none
}
img{
  vertical-align: middle;
}
ul{
	display: block;
}
li{
	list-style: none;
}
h1, h2, h3, h4, ol, p, ul {
	padding: 0;
	margin: 0;
	font-weight: 400;
}

.h4{
	font-weight: 400;
	color: #1f2f3d;
}
.h3{
	font-weight: 600;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.nav{
	height: 100%;
	line-height: 60px;
	background: transparent;
	padding: 0;
	margin: 0;
	display: inline-block;
	}
.nav-item ,.nav-item-radius{
	margin: 0 5px;
	height: 100%;
	list-style: none;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}

.menu-inline li{
	float: left;
}
.nav-item a ,.nav-item-radius a{
	text-decoration: none;
	color:#909399;
}
.nav-item a.active{
	color: #1989fa;
}
.nav-item a.active:after {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: calc(50% - 15px);
	width: 30px;
	height: 3px;
	background: #409eff;
}
.nav-item-radius {
	margin:0 10px 0 0;
}
.nav-item-radius a{
	padding: 5px 12px;
	border-radius: 20px;
}
.nav-item-radius a:hover{
	background-color: #f1f1f1;
}
.nav-item-radius a.active{
	color: #fff;
	background-color: #1989fa;
}
.menu li{
	height: 35px;
	line-height:35px;
}

.box {
	z-index: 1;
	padding: 0;
	width: 100%;
	margin: 5px 0;
	text-align: left;
	border-radius: 2px;
	background: rgba(255,255,255,0.95);
	display: inline-block;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.box-header {
	color: #444;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px rgba(245,245,245,1) solid;
}

.box-header h3 {
	font-size: 18px;
	font-weight: 600;
	color: #3280fc;
}

.box-body {
	padding: 10px;
}
#app {
  font-family: Helvetica, sans-serif;
}

/* 自定义滚动条 start */
::-webkit-scrollbar {
/*滚动条整体样式*/
width: 5px;
/*高宽分别对应横竖滚动条的尺寸*/
height: 1px;
}
::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
border-radius: 10px;
-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
background: #1459fb52;
}
::-webkit-scrollbar-track {
/*滚动条里面轨道*/
-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
border-radius: 10px;
background: #EDEDED;
}
::-webkit-scrollbar-thumb:hover {
background: #61A0F0 !important;
}

/* 自定义滚动条 end */
@media only screen and (max-width: 479px) {
.nav-item, .nav-item-radius{
margin:0;
}
.nav-item a{
padding: 0 3px;
}
.nav-item-radius a{
padding: 8px 3px;
}
}


/* section {
	margin: 0 !important;
} */

.tabs {
	width: 100%;
}

.tabs-nav .tablist li {
	margin: 3px;
	padding: 0;
	list-style: none;
}

.tabpanel {
	width: 100%;
	display: none;
	opacity: 0;
	transition: opacity .15s linear;
}

.show {
	opacity: 1;
	display: block;
}

.el-dialog__header {
	border-bottom: 1px solid #ededed;
}

.el-dialog__title {
	display: inherit;
}

.dropdown-link {
	cursor: pointer;
	color: #ccc;
	background: #fff;
	width: 40px;
	height: 100%;
}

.dropdown-link:hover {
	background: #fff;
}

.el-menu.el-menu--horizontal {
	border-bottom: none;
}

#sidebar {
	width: 40px;
	height: 0;
	margin: 0 auto;
	cursor: pointer;
	display: inherit
}

#sidebar:before {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 24px;
	line-height: 40px;
	color: #ccc;
	text-align: center;
	background: #303133;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s;
	display: inline-block
}

#sidebar:hover:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.list-item-hover{
	background: #F1F1F1!important;
    color: #222;
    text-shadow: 0 1px 0 #fff;
}

.hot-link a {
	color: #444;
	font-size: 13px;
}

.hot-link a:hover {
	cursor: pointer;
	color: #1989FA;
	text-decoration: underline;
}

.hot-link em {
	font-style: normal;
	color: #a1a7b7;
	font-size: 14px;
	font-family: Constantia,Georgia;
}

.hot-link em:after {
	content: ".";
	margin-right: 5px;
}

.hot-link span i {
	margin: 0 2px;
	font-size: 16px;
	font-weight: 600;
}

.rise {
	color: #f35c01;
}

.fall {
	color: #1989FA;
}

.hot-link img {
	width: 17px;
	height: 17px;
	margin-right: 5px;
}
	/* .link a{
		transition: all .1s linear;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		height: 24px;
		line-height: 24px;
		display: inherit;
		font-size: 14px;
		margin: 5px 0;
    padding: 0 5px;
	}
	.link a:hover{
		color: #1989FA;
		background: linear-gradient(to right,rgba(221,221,221,0),#f2f2f2,rgba(222,222,222,0));
	}
	.link img{
		width: 16px;
		height: 16px;
		margin-right: 5px;
	} */

.frostedGlass{
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    /* background: url(http://img.168dh.cn/skin/013.jpg) fixed center -50px/cover no-repeat; */
    z-index: -1;
}

/* 毛玻璃 start*/
.frostedCss .site-list .site-info h3{
	color: #d4d4d4;
}
.frostedCss .site-list .site-item:hover{
	background: rgba(255,255,255,0.28);
}
.frostedCss .box:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: blur(10px);
	/* background: url(http://img.168dh.cn/skin/013.jpg) fixed center -50px/cover no-repeat; */
	z-index: -1;
}
/* 毛玻璃 end*/

@media screen and (min-width:1200px) {
	
	.main {
		margin: 0 14%;
	}
	
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
	
	.main {
		margin: 0 10%;
	}

}